#active{
	border: 1px solid black;
}
h1{
	color: red;
}
body{
	background: url(http://images.wikia.com/adventuretimewithfinnandjake/images/3/3a/S1e1_flip_out.png) repeat top right;

}
p{
	margin: 20px;
}